<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-hide" href="#">realPanacea
        </a>
      </div>
      <div id="navbar6" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink = '/home' routerLinkActive="active">Home</a></li>
          <li><a routerLink = '/' routerLinkActive="active">About Us</a></li>
          <li><a routerLink = '/' routerLinkActive="active">Services</a></li>
          <li><a routerLink = '/contactUs' routerLinkActive="active">Contact Us</a></li>
          <!-- <li><a routerLink = '/' routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink = '/' routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
