<div class="container">
  <div *ngIf="!firstName; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="form-container">
        <div class="row-columns">
          <legend>Contact Us</legend>
          <!-- <h1></h1> -->
          <!-- style="height : 30px; width: -webkit-fill-available;" -->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" placeholder="Enter your first name" formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" formControlName="lastName" placeholder="Enter your last name">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label for="emailId">Email Id</label>
            <input class="form-control" type="email" id="emailId" formControlName="emailId" placeholder="Enter your email id">
          </div>
          <div class="form-group">
            <label for="description">Description (optional)</label>
            <textarea class="form-control" type="text" id="description" formControlName="description" placeholder="give us a brief discription."
              style="height : 100px; width: -webkit-fill-available;"></textarea>
          </div>
          <input type="submit" class="button expanded" value="Send Contact Details" [disabled]="!rForm.valid">
        </div>
      </div>
    </form>
  </div>

  <ng-template #forminfo>
    <div class="form-container">
      <div class="row-columns">
        <h1>We might not be as fast as sqroot of (e/m) but we will definitely get back to you under half an hour!!</h1>
        <h1>
          <a routerLink="/home"> continue browsing </a>
        </h1>
      </div>
    </div>
  </ng-template>
